.cardBox {
    background-color: var(--color-white);
    width: 750px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 5px 15px 15px 20px;
    border: none;
}

.cardBox:hover {
    background-color: var(--color-select-card-background);
    border: 3.5px solid var(--color-main-blue);
    cursor: pointer;
}

.cardName {
    display: flex;
    /* align-items: center; */
    width: 250px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 130%;
    color: var(--color-card-name);
    margin-left: 45px;
}

.cardStatus {
    display: flex;
    width: 234.61px;
    line-height: 100%;
    display: inline;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    margin-left: 0px;

    /* or 31px */

    color: var(--color-offline);
}

/* Info icon */
.icon {
    display: flex;
    width: 43px;
    margin-left: 134px;
}

.tab_contain {
    display: block;
}

/* Tab Section */
.tab_Background {
    width: 850px;
    height: 510px;
    background-color: var(--color-main-blue);
    border-radius: 15px;
    float: left;
    margin-left: 125px;
}

/* Navigation bar */
.tab {
    padding-top: 36px;
    padding-left: 26px;
}

.tabNav_Btn {
    width: 180px;
    height: 40px;
    background-color: var(--color-select-tab);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 12px;
    cursor: pointer;
}

/* Navigation name */
.tabNav_name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-main-blue);
}

/* A tab (Ex: Nhân Viên thu gom) */
.tabContainer {
    /*Background of a tab (cái màu nhạt)*/
    width: 800px;
    height: 400px;
    background-color: var(--color-select-tab);
    border-radius: 15px;
    border-top-left-radius: 0px;
    display: none;
}

/* Contain card, scrollbar and "Khoi tao" btn */
/* Create scroll */
.tabContainer_scroll {
    /* From left margin left card box */
    width: 800px;
    /*include 16 scroll bar*/
    height: 306px;
    background-color: var(--color-select-tab);
    overflow: hidden;
    overflow-y: scroll;
}

.tabContainer_scroll--long {
    height: 410px;
}

/* Bring Card and scroll down to 56px */
.tabCard_scroll {
    padding-top: 20px;
}

.buttonForGenerate {
    width: 180px;
    height: 50px;

    background: rgba(0, 255, 178, 0.55);
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    /* transform: translateX(100%); */
    right: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btnGenerate {
    /*Không sửa được, có thể đã bị ghi đè đâu đó*/
    width: 0px;
    height: 0px;

    background: rgba(0, 255, 178, 0.55);
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    /* transform: translateX(100%); */
    right: 100%;
    margin-top: 21px;
    margin-left: 376px;
}

.btnText:hover {
    opacity: 0.5;
}

.buttonText {
    /*Không hoạt động*/
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: var(--color-main-blue);
    cursor: pointer;
}

.btnText {
    /*Không hoạt động*/
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-main-blue);
    cursor: pointer;
}

/* Case online */
#online {
    color: var(--color-online);
}

#iconInfo {
    color: var(--color-card-name);
    font-size: 28px;
    margin-left: 134px;
}