<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhân viên thu gom</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../../back-officer/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div class="wrapper">

        <div class="header">
            <div class="header__wrapper">
                <a href="collector.html" class="header__tittle">UWC 2.0</a>
                <div class="header__right">
                    <div class="header__chat header__item"><i class="fa-solid fa-comment-dots"></i></div>
                    <div class="header__name">Tiến Đạt</div>
                    <img class="header__pic" src="../img/dtd.jpeg">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="calendar">
                <div class="front">

                    <div class="current-date">
                        Lịch làm việc trong tháng
                    </div>
        
                    <div class="current-month">
                        <ul class="week-days">
                            <li>Th2</li>
                            <li>Th3</li>
                            <li>Th4</li>
                            <li>Th5</li>
                            <li>Th6</li>
                            <li>Th7</li>
                            <li>CN</li>
                        </ul>
        
                        <div class="weeks">
                            <div class="first">
                                <span class="day past-day">28</span>
                                <span class="day past-day">29</span>
                                <span class="day past-day">30</span>
                                <span class="day past-day">31</span>
                                <span class="day past-day">01</span>
                                <span class="day past-day">02</span>
                                <span class="day past-day">03</span>
                            </div>
    
                            <div class="second">
                                <span class="day past-day">04</span>
                                <span class="day past-day">05</span>
                                <span class="day past-day">06</span>
                                <span class="day past-day">07</span>
                                <span class="day past-day">08</span>
                                <span class="day past-day">09</span>
                                <span class="day past-day">10</span>
                            </div>
    
                            <div class="third">
                                <span class="day past-day">11</span>
                                <span class="day past-day">12</span>
                                <span class="day past-day">13</span>
                                <span class="day past-day">14</span>
                                <span class="active">15</span>
                                <span class="day future-date">16</span>
                                <span class="off-date">17</span>
                            </div>
    
                            <div class="fourth">
                                <span class="day future-date">18</span>
                                <span class="day future-date">19</span>
                                <span class="day future-date">20</span>
                                <span class="day future-date">21</span>
                                <span class="day future-date">22</span>
                                <span class="day future-date">23</span>
                                <span class="off-date">24</span>
                            </div>
    
                            <div class="fifth">
                                <span class="day null-date">25</span>
                                <span class="day null-date">26</span>
                                <span class="day null-date">27</span>
                                <span class="day null-date">28</span>
                                <span class="day null-date">29</span>
                                <span class="day null-date">30</span>
                                <span class="off-date">31</span>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="back none">

                    <div class="infomcp">
                        <div class="vehicle"></div>
                        <ul class="route">
                        </ul>
                    </div>

                    <div class="info none">
                    </div>

                    <div class="actions">
                        <button class="action-btn backbtn">
                            Trở lại
                        </button>
                        <button class="action-btn checkin none">
                            Hoàn thành
                        </button>
                        <button class="action-btn null none">
                            Chưa được phân công
                        </button>
                        <button class="action-btn done none">
                            Đã hoàn thành
                        </button>
                        <button class="action-btn wait none">
                            Chưa thể bắt đầu
                        </button>
                    </div>
                </div>        
            </div>
        </div>

        <div class="footer">
            <div class="contact footer__section">
                <span >Liên hệ</span>
                <ul class="contact-list">
                    <li class="contact-item"><i class="ti-location-pin"></i>Địa chỉ: 268 Lý Thường Kiệt, P.14, Q.10, TP.HCM</li>
                    <li class="contact-item"><i class="ti-mobile"></i>Phone: <a href="tel: 0964778339">0964.778.339</a></li>
                    <li class="contact-item"><i class="ti-email"></i>Email: <a href="mailto: anh.bui24ducanh24@hcmut.edu.vn">anh.bui24ducanh24@hcmut.edu.vn</a></li>
                </ul>
            </div>
            <div class="footer__section">
                <span>Powered by <i>Simp(le) <br> </i>Ho Chi Minh University of Technology</span>
                <img src="../../back-officer/public/favicon.ico" alt="">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/base.js"></script>
    <script src="../js/collector.js"></script>
</body>
</html>
