.detailInformation {
    height: 612px;
    width: 450px;
    background-color: #d9eaff;
    float: left;
    margin-left: 20px;
    border-radius: 15px;
}

.detailInformation-header {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    color: rgb(110, 139, 255);
}

.detailInformation-header__line {
    height: 1px;
    background: rgb(110, 139, 255);
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.detailInformation-name ul {
    list-style: none;
}
.detailInformation-name__ul {
    background-color: #ffffff;
    width: 350px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(110, 139, 255);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.detailInformation-name__wrap {
    background-color: rgb(218, 222, 227);
    width: 310px;
    border-radius: 15px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.detailInformation-name__circle {
    width: 5px;
    height: 5px;
    background: red;
    border-radius: 50%;
    margin-left: 5px;
}
