.header_left {
    float: left;
}

.header_title {
    display: flex;
    height: 55px;
    padding: 0 25px;
    box-sizing: border-box;
    color: #fff;
    background-color: #6e8bff;
    align-items: center;
    text-decoration: none;
    border-radius: 7px;
}

.title_name {
    font-family: "Inter";
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
}

.profile_name {
    font-family: "Inter";
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
}

.header_right {
    display: flex;
    margin: 0;
    padding: 0;
}

.header_right a {
    display: flex;
    margin: 0 10px;
    align-items: center;
}

.header_right #last_icons {
    margin: 0 25px 0 10px;
}

.message_icons {
    color: #6e8bff;
    font-size: 45px;
}

.profile_icons {
    color: #6e8bff;
    font-size: 55px;
}

.header {
    top: 0;
}