@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --primary-color-1: rgb(110,139,255);
    --primary-color-2: rgb(232,237,245);
    --primary-color-3: rgb(136, 255, 0);
    --color-main-blue: rgb(110, 139, 255);
    --color-main-green: rgba(0, 225, 178, 0.55);
    --color-select-card-name: rgb(32, 126, 242);
    --color-card-name: #7eaeea;
    --color-select-card-background: rgb(218, 222, 227);
    --color-select-tab: #d9eaff;
    --color-deselect-tab: #bcd1eb;
    --color-scroll-bar: rgb(173, 205, 239);
    --color-scroll-bar-thumb: rgb(161, 195, 227);
    --color-online: rgb(39, 210, 24);
    --color-offline: rgba(9, 10, 9, 0.39);
    --color-white: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    /* box-shadow: inset 0 0 10px var(--color-scroll-bar); */
    background-color: var(--color-scroll-bar);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-scroll-bar-thumb);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: inherit;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clickable {
    cursor: pointer !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wrapper {
    background-color: rgb(245,245,249);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    padding: 0 0 0 25px;
    margin: auto;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    z-index: 2;
}

.header__wrapper {
    display: flex;
    width: 1200px;
    max-width: calc(100% - 16px);
    height: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(232,237,245);
    box-shadow: 0 0 4px silver;
    width: 100%;
    align-items: center;
    padding-bottom: 16px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.university, .contact, .footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__section span {
    padding: 16px 0 6px 0;
    color: rgb(102,102,102);
    font-size: 1.8rem;
    text-align: center;
}

.footer__section span i {
    color: var(--primary-color-1);
    font-weight: 700;
}

.footer__section img{
    width: 120px;
}

.footer__section li a,
.footer__section li {
    font-size: 1.5rem;
    color: rgb(102,102,102);
}

.footer__section li a{
    cursor: pointer;
}

.footer__section li a:hover{
    color: blue;
}

.footer__section li i{
    padding-right: 6px;
}

.contact {
    padding-bottom: 16px;
    border-bottom: 1px #333 solid;
}

input::-webkit-contacts-auto-fill-button, 
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

.Body{
    padding-top: 100px;
    background-color: #f2f2f2;
}

.background{
    background-color: #f2f2f2;;
}

.button{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.calendarCollector {
    background-color: var(--color-select-tab);
    border-radius: 40px;
    margin-bottom: 20px;
    color: var(--color-main-blue);
    font-size: 2.0rem;
    margin-top: 60px;
    font-weight: 600;
    width: auto;
}

.fc-today-button .fc-button .fc-button-primary,
.fc-header-toolbar .fc-toolbar-chunk button{
    background-color: var(--color-card-name);
    border-color: var(--color-card-name);
}
