.calendar {
    background-color: var(--color-select-tab);
    margin-top: 60px;
    font-size: 1.8rem;
}
.Body{
    padding-top: 100px;
    background-color: #f2f2f2;
}
.background{
    background-color: #f2f2f2;;
}

.button{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
