/* Header css */
.header__title {
    display: flex;
    align-items: center;
    width: 145px;
    height: 100%;
    color: #fff;
    font-size: 2rem;
    padding: 6px 24px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(64 64 80);
    font-weight: 700;
    letter-spacing: 2px;
    background-color: var(--primary-color-1);
}
